@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
    background-color: azure;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

nav {
    height: 3rem;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    color: aqua;
    padding: 0 50px;
    background-color: white;
    font-size: 24px;
}
.nav-title .nav-links {
    display: flex;
}

.nav-title .nav-links li {
    margin-right: 10px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
}
main {
    display: flex;
    place-items: center;
}

.container h2 {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
   
}
.container h2 .color {
    color: blue;
}

.container .btn {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 4px;
    width: 90px;
    border: solid 1px black;
}