@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
body {
    background-color: azure;
    font-family: Roboto;
}
main {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    border: solid 1px gray;
    padding: 50px;
    border-radius: 5px;
}
.container img {
    max-width: 50%;
    position: absolute;
    top: -22%;
    left: 70%;
}
span {
    color: rgb(89, 0, 255);
}

.container h3 {
    font-size: 45px;
}
.container h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.name-input {
    border: solid 1px rgb(223, 210, 210);
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
    width: 300px;
}
.container button {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-inline: auto;
    border-radius: 5px;
}
.name {
    margin-right: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 40%;
}